<!DOCTYPE html>
<html lang="en">
<head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <meta charset="UTF-8">
  <title>Ajax practice!</title>
</head>
<body>
  <h1>Can you succeed to login?</h1>
  <label for="id_input">ID: </label>
  <input id="id_input" type="text" />
  <div id="wrong_id_container"></div>
  <label for="pw_input">PW: </label>
  <input id="pw_input" type="password" />
  <br />
  <button id="login_btn">Try login!</button>
  <div id="login_result_container"></div>
</body>
</html>
